<!DOCTYPE html>

<head>
    {% block head %}
    <title>Кубок ИТМО | {% block title required %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style.css?v=1') }}">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" sizes="any">
    <link rel="icon" href="{{ url_for('static', path='/favicon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/apple-touch-icon.png') }}">
    {% endblock head %}
</head>

<body>
    <main>
        {% block main %}
        <h1><a href="{{ url_for('index') }}" class="nolink">
            III Открытый кубок ИТМО по бальным танцам
        </a></h1>
        {% endblock main %}
    </main>
</body>

</html>