{% extends "result-base.html" %}
{% block title %}Ошибка регистрации{% endblock %}
{% block content %}
<p>
    Не удалось произвести регистрацию из-за ошибки в заполнении формы.
</p>
<p><b>{{ error_message }}</b></p>
<p>
    Пожалуйста, заполните форму ещё раз. В случае возникновения вопросов или проблем с заполнением
    обращайтесь в личные сообщения <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
</p>
{% endblock %}