{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}

{% block main %}
{{ super() }}
<h2>Регистрация участников</h2>
<p>
    Регистрация завершена. Со списками зарегистрированных участников
    можно ознакомиться на странице <a href="results">результатов регистрации</a>.
</p>
<p>
    По вопросам обращайтесь в личные сообщения
    <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
    С описанием категорий и правилами турнира рекомендуем
    ознакомиться в <a href="rules">положении</a>.
</p>
{% endblock main %}