{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', path='/script.js?v=1') }}" defer></script>
{% endblock head %}

{% block main %}
{{ super() }}
<hr>
<p>
    Пожалуйста, заполните форму для участия в соревновании. Форма заполняется один раз.
    Проверить регистрацию можно на странице
    <a href="results">результатов регистрации</a>.
</p>
<p>
    По вопросам обращайтесь в личные сообщения
    <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
    С описанием категорий и правилами турнира рекомендуем ознакомиться в
    <a href="rules">положении</a>.
</p>
<hr>
<h2>Регистрация участников</h2>
<form id="reg-form" action="submit" method="post">
    <section id="section-category">
        <p>
            Выберите категории, в которые хотите зарегистрировать пару или солиста.
            Можно выбрать не более одной категории в каждой из программ, стандарте или латине.
        </p>
        <table id="categories-container">
            {% for key, cat in categories.root.items() %}
            <tr id="question-{{ key }}">
                <td>
                    <input
                        type="checkbox"
                        name="category"
                        id="{{ key }}"
                        value="{{ key }}"
                        data-incompatible="{{ ','.join(cat.incompatible) }}"
                        {% if cat.is_solo %}
                            data-is-solo
                        {% endif %}
                    >
                </td>
                <td><label for="{{ key }}">{{ cat.name }}</label></td>
            </tr>
            {% endfor %}          
        </table>
        <div id="category-notes">
            {% for key, cat in categories.root.items() %}
                {% for note in cat.notes %}
                    <div class="note-text hidden" data-category-key="{{ key }}">
                        {{ note|e }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
    <section id="section-names">
        <p id=descr-names>
            Введите фамилию и имя партнёра и партнёрши.
            Если выступаете в соло, внесите себя в поле "партнёр".
        </p>
        <table>
            <tr id="question-leader">
                <td class="required-marker">*</td>
                <td><label for="leader" id="label-leader">Партнёр:</label></td>
                <td><input type="text" name="leader" id="leader" placeholder="Иванов Иван" required></td>
            </tr>
            <tr id="question-follower">
                <td class="required-marker" id="follower-required-marker"></td>
                <td><label for="follower">Партнёрша:</label></td>
                <td><input type="text" name="follower" id="follower" placeholder="Иванова Мария"></td>
            </tr>
        </table>
    </section>
    <section id="section-contacts">
        <p>Оставьте свои контактные данные. Они будут доступны только организаторам.</p>
        <table>
            <tr id="question-contacts">
                <td class="required-marker">*</td>
                <td><label for="contacts">Контакты:</label></td>
                <td><input type="text" name="contacts" id="contacts" placeholder="vk.com/durov" required></td>
            </tr>
        </table>
    </section>
    <section id="section-club">
        <p>
            Введите название своего университета, спортивного клуба или студии.
            Эта информация будет названа при награждении.
        </p>
        <table>
            <tr id="question-club">
                <td class="required-marker">*</td>
                <td><label for="club">Коллектив:</label></td>
                <td><input type="text" name="club" id="club" placeholder="ИТМО" required></td>
            </tr>
        </table>
    </section>
    <section id="section-teachers">
        <table>
            <p>
                Введите фамилию и имя одного или двух из своих тренеров.
                Эта информация будет названа при награждении.
            </p>
            <tr id="question-teacher-1">
                <td class="required-marker">*</td>
                <td><label for="teacher-1">Тренер 1:</label></td>
                <td><input type="text" name="teacher1" id="teacher-1" placeholder="Иванов Иван" required></td>
            </tr>
            <tr id="question-teacher-2">
                <td class="required-marker"></td>
                <td><label for="teacher-2">Тренер 2:</label></td>
                <td><input type="text" name="teacher2" id="teacher-2" placeholder="Иванов Иван"></td>
            </tr>
        </table>
    </section>
    <section id="section-consent">
        <p></p>
        <table>
            <tr>
                <td><input type="checkbox" name="consent" id="consent" required></td>
                <td><label for="consent">Согласен на обработку введённых данных</label></td>
            </tr>
        </table>
    </section>
    <section id="section-submit">
        <p></p>
        <div>
            <input type="submit" value="Зарегистрироваться" class="button">
        </div>
    </section>
</form>
{% endblock main %}