{% extends "base.html" %}
{% block title %}Результаты соревнований пока не доступны{% endblock %}

{% block main %}

{{ super() }}

<h2>{{ self.title() }}</h2>

<p class="text-center">Зайдите чуточку позже...</p>

{% endblock main %}