body {
    font-family: sans-serif;
}

a {
    color: #3c62a0;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.nolink, .nolink:hover, .nolink:active {
    text-decoration: none;
    color: unset;
}

.disabled-question {
    color: gray;
}

td {
    vertical-align: middle;
}

h1, h2 {
    text-align: center;
}

section {
    padding: 0 2px;
}

.scrollable-wrapper {
    display: block;
    overflow-x: auto;
}

.table-results {
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 0;
    border-top: thin solid black;
    border-left: thin solid black;
    min-width: 762px;
}

.table-results td, .table-results th {
    padding: 0.1em 0.2em;
    border-right: thin solid black;
    border-bottom: thin solid black;
}

.th-names {
    width: 35%;
}

.th-club {
    width: 30%;
}

.th-teachers {
    width: 35%;
}

.name-cell {
    white-space: nowrap;
}

.results-section {
    margin-bottom: 2em;
}

.results-count-descr {
    font-weight: normal;
}

@media only screen and (min-width: 768px) {
    main {
        width: 768px;
        margin: auto;
    }
}

.button {
    padding: 0.5em;
    cursor: pointer;
}

.required-marker {
    color: red;
}

.err-highlighted {
    background-color: #FFCCCC;
}

.info-highlighted {
    background-color: #cddffc;
}

.bg-transition {
    transition: background-color 1s ease-in;
    background-color: transparent !important;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

#category-notes {
    margin-top: 1rem;
}

#category-notes .note-text {
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin: 0.5rem 0;
    border-left: 4px solid #dcdcde;
}